* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.divider {
    width: 640px;
    margin: 0 auto;
    border-bottom: 2px solid #000000;
}
header {
    width: 100%;
    padding: 52.54px 61px 40px 64px;
    height: 133px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    
}
.container-header {
    display: flex;
    justify-content: space-between;
    height: 40.46px;
}

.logo-header {
    width: 395.83px;
    height: 37px;
}

.menu-header {
    text-transform: uppercase;
    display: flex;
    font-family: 'New York Small', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.18px;
}
.menu-header-modal {
    font-family: 'New York Small', sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.18px;
}
.menu-header li {
    line-height: 34px;
    height: 34px;
    position: relative;

}
.menu-header .item-4 {
    margin-left: 36px;

}
.menu-header .item-3 {
    margin-left: 34px;   
}
.menu-header .item-2 {
    margin-left: 31px;
}

.menu-header li::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: black;
    bottom: -48px;
    left: 0;
    transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1); 
}
.menu-icon {
    display: none;
}

.menu-header li:hover::after {
    width: 100%; 
}
.menu-modal {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease; 
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.menu-modal.active {
    display: flex;
    transform: translateX(0);
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease; 
    z-index: 100;
    display: none; 
}
.overlay.active {
    display: block;
    opacity: 1;
}

.title-container {
    margin-top: 52px;
}

.title-container .main-title {
    max-width: 858px;
    height: 162px;
    margin: 0 auto;
}
.main-title h2 {
    font-family: 'New York Extra Large', sans-serif;
    font-size: 54px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
}

.title-container .sub-title {
    width: 626px;
    height: 68px;
    margin: 32px auto 52px;
}
.sub-title p {
    font-family: 'SF Mono', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: center;
}

.logo-main {
    height: 900px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 32px;
}

.content {
    width: 640px;
    margin: 0 auto;
}
.menu-content-1 {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #000000;
    padding-top: 29px;
    align-items: center;

}

.avatar {
    width: 56px;
    height: 56px;
    
}
.info {
    margin-left: 16px;
    width: 191px;
    height: 46px;
}
.social-card {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 4px;

}
.icon {
    box-shadow: 0px 1px 4px 0px #00000014;
    border: 1px solid #EAEAEA;
    font-size: 30px;
    text-align: center;
}


.menu-content-2 {
    margin-top: 53px;
}
.menu-content-2 p {
    font-family: 'New York Medium',  sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
}
.menu-content-2 h4 {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    margin-top: 57px;
    margin-bottom: 24px;
}
.hidden-content {
    display: none;
}
.menu-content-1 .social-card .icon:nth-child(3) {
    display: none; 
    border: none; 
}
.menu-content-1 .social-card .icon:nth-child(2) {
    border-radius: 0 4px 4px 0;

}
.sub-image {
    margin-top: 52px;
}
.responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.responsive-container img {
    margin-top: 52px;
    width: calc(100% - 586px);
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding-top: 52px;
}
.title-image {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: calc(100% - 960px);
    height: 36px;
    text-align: center;
    padding-top: 12px;
    margin: 0 auto;
    letter-spacing: 0.7px;
}

.menu-content-3 {
    font-family: 'New York Medium', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    margin-top: 52px;

}
.menu-content-3 p:nth-child(2) {
    margin-top: 52px;
    margin-bottom: 19px;
}
.menu-content-3 p:nth-child(5) {
    margin-top: 52px;
    margin-bottom: 52px;
}
.menu-content-3 ul {
    width: 588px;
    padding-left: 20px;
    list-style: unset;
}
.menu-content-3 ul li {
    margin-bottom: 16px;
}
.menu-content-3 .social-card {
    margin-top: 77px;
    grid-template-columns: auto auto;
}
.menu-content-3 p:nth-child(7) {
    margin-top: 42px;
}
.menu-content-3 .social-card .icon {
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 0px;
    padding: 19px 70px;
}
.tags {
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
}
.tags span {
    text-decoration: underline;
}
.dotted-line {
    border-top: 1px dotted #000; 
    width: 100%; 
    margin: 20px 0; 
}
.avatar-footer {
    display: flex;
    column-gap: 24px;
}

.avatar-footer .info-avatar-footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 25.6px;
    width: 85%;
    letter-spacing: 1px;
    
}
.info-avatar-footer img {
    display: none;
}
.info-avatar-footer span {
    font-weight: 700;
}
.menu-content-3 .social-card {
    display: none;
}
.article {
    text-align: center;
    border-top: 2px solid #000000;
    margin-top: 132px;
}


.eyes-article {
    width: 82px;
    height: 64.29px;
    margin-top: -32px;

}
.content-section {
    text-align: center;
}


.title-article {
    font-family: 'New York Extra Large', sans-serif;
    font-size: 44px;
    font-weight: 700;
    margin-top: 40.71px;
    line-height: 52.51px;    
    margin-bottom: 27px;
}

.grid-container {
    width: calc(100% - 442px); 
    max-width: 100%; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 28px;
    row-gap: 34px;
    margin: auto;
}
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.grid-item img {
    width: 100%; 
    height: auto;
}

.grid-item p {
    font-family: 'SF Pro Display', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.4px;
    margin-top: 20px;
   
}

.contact {
    width: 640px;
    border: 1px solid #000000;
    border-top-width: 12px ;
    margin: 0 auto;
    margin-top: 114px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact h2 {
    font-family: 'New York Extra Large', sans-serif;
    font-size: 36px;
    margin-top: 62px;
    margin-bottom: 18px;
    font-weight: 700;
    line-height: 28px;

}
.contact p {
    font-family: 'SF Pro Display', sans-serif;
    width: calc(100% - 102px);
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;

}
.box-input {
    display: flex;
    position: relative;
    padding: 0 9px;
    width: 520px;
    max-width: 100%; /* Đảm bảo khung container không vượt quá kích thước màn hình */
    margin: 36px auto 59px; /* Căn giữa khung container */

}
.box-input input {
    flex: 0 0 413px; /* Chiều rộng cố định là 413px */
    max-width: 70%; /* Đảm bảo tỉ lệ 70% */
    padding: 15px 0 15px 16px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.87px;
}
.box-input button {
    flex: 0 0 139px; /* Chiều rộng cố định là 139px */
    max-width: 30%; /* Đảm bảo tỉ lệ 30% */
    font-family: 'SF Pro Display', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.87px;
    letter-spacing: 0.05em;
    text-align: center;
    padding: 15px 24px;
    color: #EAEAEA;
    background-color: #000000;
}
footer {
    background-color: #000000;
    height: 464px;
    width: 100%;
    margin-top: 111px;
    color: #EAEAEA;
    
}

.menu-footer {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    text-transform: uppercase;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    width: 1451px; /* Chiều rộng cố định */
    max-width: 100%; /* Đảm bảo không vượt quá kích thước màn hình */
    letter-spacing: 3.18px;
    font-family: 'SF Pro Display', sans-serif;
    overflow: hidden; /* Cắt nội dung vượt quá chiều rộng */
    white-space: nowrap; /* Không xuống dòng */
}


.logo-footer {
    display: flex;
    align-items: center;
    margin:  105.12px auto 0;
    width: 290.91px;
    height: 27.3px;
}
.content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25.58px;
    width: 100%;
}
.content-footer .content-1 {
    width: 488px;
    height: 71px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-family: 'New York Small', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.content-footer .content-2 {
    margin-top: 32px;
    width: 209px;
}
.content-footer .content-2 {
    margin-top: 32px;
}

.content-3 {
    font-family: "SF Pro Display", sans-serif;
    Width: 178px;
    Height: 34px;
    margin-top: 64px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16.8px;    
}

@media (max-width: 1215px) {
    .title-image {
        width: calc(100% - 386px);
    }

}

@media (max-width: 1024px) {
    header {
        width: 100%;
        height: 65px;
        padding: 24px 20px 21px 20px;
    }
    .main-title h2 {
        font-size: 35.7px;
        line-height: 42.96px;
    }
    .title-container .main-title {
        width: calc(100% - 40px);
        height: 172px;
    }
    .content {
        width: calc(100% - 40px);
    }

    .container-header {
        height: 0;
    }
    .menu-header {
        display: none; 
    }

    .menu-icon {
        display: block;
        width: 24px;
        height: 14px;
    }

    .menu-modal {
        display: flex; 
    }
    .logo-header {
        max-width: 65%;
        height: 20px;
    }
    .title-container .sub-title {
        width: calc(100% - 40px);    
    }
     .sub-title p {
        font-size: 16px; 
        margin-top: 24px;
        line-height: 27.2px;
    }
    .logo-main {
        height: auto;
    }
    .responsive-container img {
        width: 100%;

    }
    .menu-content-2 p {
        font-size: 16px;
        line-height: 27.2px;
    }
    .start-content {
        display: none;
    }
    .hidden-content {
        display: block;
    }
    .menu-content-1 {
        flex-wrap: wrap;
    }
    .menu-content-2 {
        margin-top: 32px;
    }
    .menu-content-1 .social-card .icon:nth-child(3) {
        display: block; 
        border: 1px solid #EAEAEA;

    }
    .menu-content-1 .social-card .icon:nth-child(2) {
        border-radius: 0;
    } 
    .menu-content-1 {
        row-gap: 24px;
    }
    .social-card {
        width: 100%;
    }
    
    .menu-content-2 h4 {
        margin-top: 42px;
        margin-bottom: 19px;
    }
    .title-image {
        font-size: 13px;
    }

    .title-image {
        width: calc(100% - 40px);
    }
    .menu-content-3 .social-card {
        margin-top: 9px;
        grid-template-columns: auto auto auto;
    }
    .tags {
        margin-top: 24px;
        font-size: 14px;
        line-height: 16.71px;

    }
    .hidden-card {
        display: none;
    }
    .info-avatar-footer{
        display: inline-block;
    }
    .avatar-footer .avatar {
        display: none;
    } 
    .avatar-footer {
       padding-right: 4px;
    }
    
    .avatar-footer .info-avatar-footer {
        font-size: 14px;
        line-height: 22.4px;
        width: 100%;
        letter-spacing: 0.52px;
    }
    .info-avatar-footer img {
        width: 21%;
        height: auto;
        margin-right: 16px;
        display: inline-block;
        float: left;
    }
    .grid-container {
        grid-template-columns: 1fr;
        width: calc(100% - 40px); 

    }
    .grid-container p {
        font-size: 22px;
        line-height: 26.4px;
        width: calc(100% - 73px);
    }
    .grid-container .grid-item:nth-child(4) {
        display: none;
    }
    .grid-container .grid-item:nth-child(5) {
        display: none;
    }
    .grid-container .grid-item:nth-child(6) {
        display: none;
    }
    .contact {
        width: 100%;
        border-bottom: 2px solid #000000;
    }
    .box-input button {       
        font-size: 16px;     
        line-height: 19.09px;
    }
    .box-input {
        width: calc(100% - 72px); /* Đảm bảo container chiếm toàn bộ chiều rộng màn hình nhỏ */
    }
    .box-input input {
        flex: 1 1 70%; /* Tỉ lệ 70% cho màn hình nhỏ */
    }
    .box-input button {
        flex: 1 1 30%; /* Tỉ lệ 30% cho màn hình nhỏ */
    }
    .contact p {
        padding-left: 1px;
        font-size: 16px;
        width: calc(100% - 72px);
    }
    .menu-footer {
        font-size: 16px;
        line-height: 28px;

    }
    .logo-footer {
        width: calc(100% - 138.64px);
        height: auto;
    }
    .content-footer .content-1 {
        width: calc(100% - 88px);
        font-size: 13px;
    }
    footer {
        height: auto;
    }
    
  
}

@media (max-width: 375px) {
    .main-title h2 {
        font-size: 24px;
        line-height: 42.96px;
    }
}